:root {
    --darkblue: #051D3B;
    --blue300: #5081FB;
    --blue200: #7BA4FC;
    --blue100: #96B9FD;
    --blueinput: rgba(255, 255, 255, 0.16);
    --white: #ffffff;
}
* {
    font-family: 'Inter', sans-serif;
}
/*header*/
.header {
    background: var(--darkblue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo {
    width: 13%;
}
#search {
    width: 43%;
    background: var(--blueinput);
    border: none;
    border-radius: 0.5rem;
    height: 2.5rem;
    padding-left: 0.5rem;
    margin-right: 10%;
    color: var(--white);
}
#search::placeholder, form input[type="text"]::placeholder {
    color: var(--white);
    font-weight: 400;
}
#search:focus, form input[type="text"]:focus, form select:focus, .editor textarea:focus {
    outline: none;
}
#perfil {
    width: 10%;
}
/*main*/
body {
    background: var(--darkblue);
}
main {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}
.menu {
    color: var(--white);
}
.menu h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.menu li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; 
}
.menu li img {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}
#code {
    background: var(--blue300);
}
#comunidade {
    background: var(--blueinput);
    padding: 0.6rem;
}
.codigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.editor {
    background: var(--blue100);
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
}
.editor textarea {
    background-color: black;
    color: var(--white);
    border: none;
    width: 40vw;
    height: 30vh;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.codigo button {
    background: var(--blueinput);
    color: var(--white);
    border: none;
    height: 2rem;
    width: 53vw;
    border-radius: 0.3rem;
    cursor: pointer;
}
.projeto {
    background: var(--darkblue);
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--white);
    text-transform: uppercase;
    padding: 1rem;
}
form input[type="text"], form select {
    background-color: var(--blueinput);
    border: none;
    border-radius: 0.3rem;
    height: 1.5rem;
    padding-left: 0.5rem;
    color: var(--white); 
}
#descricao {
    height: 4rem;
}
.option {
    color: black;
}
form input[type="color"] {
    align-self: center;
    background-color: transparent;
    border: 0.05rem solid var(--white);
    border-radius: 0.3rem;
    height: 2rem;
    width: 100%;
    color: var(--white); 
}
form input[type="submit"] {
    background: var(--blue200);
    color: var(--darkblue);
    border: none;
    height: 2rem;
    border-radius: 0.3rem;
    cursor: pointer;
}
form input[type="submit"]:hover, .codigo button:hover {
    background: var(--blue300);
    color: var(--darkblue);
    transition: all 700ms;
}


